@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

#progressBarText:hover #progressBar{
  background-color: gray;
  height: 2px;
  animation: progressBar 1s linear infinite;
}
.priceProgressBar{
  animation: progressBar 2s ease-in-out infinite alternate;
}
@keyframes progressBar{
  from {width: 0%;}
  to {width: 100%;}
}
.slider{
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%)
}
.sliderWrapper{
  transition: all 0.6s ease-in-out;
}
.product{
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  /* background-image: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"); */
  background-image: url("https://wallpaperaccess.com/full/1283125.jpg");
  /* background-image: url("https://toppng.com/uploads/preview/dark-textured-background-11553990989zn87xp7tfb.jpg"); */
  /* background-image: url("https://wallpapers.com/images/featured/dark-wall-background-zdnfze1amg2r36vi.jpg"); */
  background-position: start;
  background-repeat: no-repeat;
  height: 100vh;
}